body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 600px;
  margin: 40px auto;
}

.box-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 515px;
  border-top: 2px solid #000;
}

.box-square__item {
  width: 150px;
  height: 170px;
}

.item-1 {
  background: #870d4f;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item-2 {
  background: #4a148b;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item-3 {
  background: #e65000;
  height: auto;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.item-4 {
  background: #be350d;
}
